*{
    margin: 0;
}

/* font merriweather */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* font inter */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* Banner Style */
.banner-container{
    width: 1320px;  
    height: 600px;
    background-image:linear-gradient(to top,rgba(0,0,0,0), rgba(0,0,0,0.7)),url('../images/Banner\ Image.png') ;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 140px;
    border-radius: 20px;
    
}
.banner{
    height:600px;
    /* display: block; */
    /* padding: 50% 0%; */
    text-align: center;
    align-content: center;
    
}

.banner-head{
    font-size: 32px;
    color: white;
}
.banner-description {
    font-size: 72px;
    color: white;
}

/* discount styles */

.discount-container{
    text-align: center;
    margin: 120px 0px;
    
}
.discount{
    font-size: 88px;
    color: red;
}
.titleAndDescription{
    margin: 48px 0px;
}
.discount-title{
    font-size: 24px;
    color: red;
}

.discount-description{
    font-size: 48px;
}

/* Welcome style */

.welcome-container{
    margin: 0px 120px 140px;
}

.welcome{
    position: relative;
      width: 1320px; 
      height: 600px;
      background: 
        linear-gradient( to left,
          rgba(0, 0, 0, 0), rgba(0,0,0,0.7)
        ),
        url('../images/Vectorrr.png'); 
      background-size: auto;  
      background-repeat: no-repeat; 
      background-position: center; 
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
}

.welcome-title{
    font-size: 64px;
    color:white;
}
.welcome-description{
    font-size: 18px;
    color: rgba(255, 255, 255,.8);
    font-weight: 600;
}

.welcome .btn{
    font-size: 20px;
    font-weight: bold;
    background-color:  rgba(255, 255, 0,0);
    margin-top: 20px;
    border: none;
    color: yellow;
    cursor: pointer;
    
}

.welcome-title-description-container{
    padding: 30px;
}

.welcome img{
    padding: 30px;
}

/* schedule style */
.schedule{
    display: flex;
    text-align: center;
    margin-bottom: 140px;
    justify-content: center;
}
.schedule-container{
    background-image: linear-gradient(to top,rgba(255, 0, 0, 0),rgba(255, 0, 0, 0.4));
    width: 1320px;
    height: 500px;
    border-radius: 20px;
    
}

.schedule-container div{
    margin: 130px 385px;
}

.place, .date, .time{
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;;
}

.schedule-container span{
    color: red;
}

.schedule-container .btn2{
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 48px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}